/* general CSS, unrelated to parallax or img */
body {
  background: #fff;
  color: #222;
  font-family: 'Source Sans Pro', sans-serif;
}
.code {
  font-family: 'PT Mono', serif;
  color: #090;
}
.writing {
  width: 74%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 560px) {
  .writing {
    width: 96%;
  }
}

/* Parallax CSS */
.background-oregon-grapes {
  background-image: url("http://aeoneal.com/imagery/blog/oregon-grapes.jpg");
  background-size: 100%;
  height: 560px;
  width: 560px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .background-oregon-grapes {
    height: 330px;
    width: 330px;
  }
}


/* Image CSS for your SVG */
img {
  height: 100%;
  width: 100%;
}
