{% extends "base.html" %}
{% block content %}

<h2>Update a Booking</h2>

<form action="/bookings/{{ booking.id }}" method="POST">
    <div>
        <label for="member">Member:</label>
        <select name="member_id" id="member">
            {% for member in members %}
            <option value="{{ member.id }}" {% if member.id == booking.member.id %} selected {% endif %}>
                {{ member.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="course">Course:</label>
        <select name="course_id" id="course">
            {% for course in courses %}
            <option value="{{ course.id }}" {% if course.id == booking.course.id %} selected {% endif %}>
                {{ course.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}