{% extends "base.html" %}
{% block content %}

<h2>Bookings</h2>
<li><a href="/bookings/new">Add</a></li>

{% for booking in bookings %}


<section class="course-grid">

<div class="Rtable Rtable--4cols">

    <div class="Rtable-cell">
        {{ booking.course.name }}
    </div>
    <div class="Rtable-cell">
        {{ booking.member.first_name }} {{ booking.member.last_name }}
    </div>
    <div class="Rtable-cell">    
        <a href="/bookings/{{ booking.id }}/edit">Edit</a>
    </div>
    <div class="Rtable-cell"> 
        <form action="/bookings/{{ booking.id }}/delete" method="POST">
        <input type="submit" value="Delete">
        </form>
    </div>

</section>

{% endfor %}
{% endblock %}
