{% extends "base.html" %}
{% block content %}

<h2>Add a New Booking</h2>

<form action="/bookings" method="POST">
    <div>
        <label for="member_first_name">Member Name:</label>
        <select name="member_id" id="member-f">
            {% for member in members %}
            <option value="{{ member.id }}">
                {{ member.first_name }} {{ member.last_name }} 
            </option>
            {% endfor %}
        </select>
    </div>

    <label for="child_first_name">First name:</label>
    <input type="text" id="child_first_name" name="child_first_name">
            {% for booking in bookings %}
            <option value="{{ member.id }}">
                {{ booking.child_first_name }} 
            </option>
            {% endfor %}
        </select>
    </div>
    <label for="child_last_name">Last name:</label>
    <input type="text" id="child_last_name" name="child_last_name">
            {% for booking in bookings %}
            <option value="{{ member.id }}">
                {{ booking.child_last_name }} 
            </option>
            {% endfor %}
        </select>
    </div>
    <label for="child_age">Age:</label>
    <input type="number" id="child_age" name="child_age">
            {% for booking in bookings %}
            <option value="{{ member.id }}">
                {{ booking.child_age }} 
            </option>
            {% endfor %}
        </select>
    </div>
    <label for="special_requirements">Special Requirements:</label>
    <input type="text" id="special_requirements" name="special_requirements">
            {% for booking in bookings %}
            <option value="{{ member.id }}">
                {{ booking.special_requirements }} 
            </option>
            {% endfor %}
        </select>
    </div>


    <div>
        <label for="course">Course:</label>
        <select name="course_id" id="course">
            {% for course in courses %}
            <option value="{{ course.id }}">
                {{ course.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}