/* 
* {box-sizing: border-box;} */
@import url(//db.onlinewebfonts.com/c/4fb2accf874593635afa99c122467fd6?family=MijaW03-Regular);


body { 

    font-family: 'Montserrat', sans-serif;
}

.header {
    overflow: hidden;
    background-color: #2CBE67;
    padding: 20px 10px;
}

.menu {
    /* display: inline; */
    margin: 100px;
}


/* .header a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
} */

.logo > img {
    float: none;
    display: block;
    width: 100px;
    height: auto;
    padding-left: 100px;
    background-repeat: none;

}

/* .header a:hover {

} */

/* .header a.active {
    background-color: #2CBE67;
    color: white;
}

.header-left {
    float: left;
}

@media screen and (max-width: 500px) {
    .header a {
    float: none;
    display: block;
    text-align: left;
}

.header-left {
    float: none;
}
} */

.course_booking_details {
    display: inline
}

.buttons {
    margin-top: 10px;
    margin-left: 2px;
    font-size: 1.4em;
    color: #aab8c2;
}

.buttons i {
    width: 80px;
}

input, select, button {
    font-size: 100%;
    width : 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

input, textarea {
	font-family: 'Monserrat', sans-serif;
	font-size: 13px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;  
	box-sizing: border-box;       
	width: 20%;
}


#description
{
    height:200px;
    width: 200px;
    font-size:14pt;
    word-break: break-word;


}
/* 
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 200px;
    margin: 0 auto;
}
.all_courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
 
    
}

.row   {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

} */

.topnav {
    background-color: #2CBE67;
    overflow: hidden;

}

.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 25px 50px;
    text-decoration: none;
    font-size: 20px;
    
}

.topnav a:hover {
    background-color: #27C566;
    color: rgb(255, 255, 255);
}

.topnav a.active {
    background-color: #2CBE67;
    color: white;
    padding-left: 100px
}



/* .btn-grad {background-image: linear-gradient(to right, #339840 0%, #47c86c  51%, #51de5f  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   border-radius: 10px;
   width: 200px;
  background-size: 200% auto;
   color: white;            
    box-shadow: 0 0 20px #eee;
   
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 } */
