
* {box-sizing: border-box;}

body { 
    margin: 100px;
    font-family: 'Montserrat', sans-serif;
}

.header {
    overflow: hidden;
    background-color: #2CBE67;
    padding: 20px 10px;
}



/* .header a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
} */

.logo >img {
    float: none;
    display: block;
    width: 100px;
    height: auto;
    background-repeat: none;

}

/* .header a:hover {

} */

.header a.active {
    background-color: #2CBE67;
    color: white;
}

.header-left {
    float: left;
}

@media screen and (max-width: 500px) {
    .header a {
    float: none;
    display: block;
    text-align: left;
}

.header-left {
    float: none;
}
}

.course_booking_details {
    display: inline
}
