{% extends "base.html" %}
{% block content %}


<div class="top-title-add">
    <h1>Members</h1>

</div>


{% for member in members %}

<section  class="course-grid">

<div class="Rtable Rtable--4cols">

    <div class="Rtable-cell"> 
        <a href="/members/{{ member.id }}">{{ member.first_name }} {{ member.last_name }}</a>
        <hr class="dotted">
    </div>
    <div class="Rtable-cell"> 
        {{ member.phone_number }} 
        <hr class="dotted">
    </div>
    <div class="Rtable-cell"> 
        {{ member.email }} 
        <hr class="dotted">
    </div>
    <div class="Rtable-cell">
        <a href="/members/{{ member.id }}/edit"><i class="fa fa-edit fa-2x" style="color:#949494" aria-hidden="true"></i></a>
        
    </div>

    <div class="Rtable-cell"> 
        <form class = "delete-form" action = "/members/{{ member.id }}/delete" method = "POST">
        <button class="trash-button">
            <i class="fa fa-trash-o fa-2x" style="color:#ffb2e8" style="font-size:24px" aria-hidden="true"></i>
        </button>
        </form>









</section>

{% endfor %}
{% endblock %}