{% extends "base.html" %}
{% block content %}

<h2>Members</h2>
<li><a href="/members/new">Add</a></li>

{% for member in members %}

<section  class="course-grid">

<div class="Rtable Rtable--4cols">

    <div class="Rtable-cell"> 
        <a href="/members/{{ member.id }}">{{ member.first_name }} {{ member.last_name }}</a>
    </div>
    <div class="Rtable-cell"> 
        {{ member.phone_number }} {{ member.email }} 
    </div>

    <div class="Rtable-cell">
        <a href="/members/{{ member.id }}/edit"><i class="fa fa-edit fa-2x" style="color:#949494" aria-hidden="true"></i></a>
    </div>

    <div class="Rtable-cell"> 
        <form class = "delete-form" action = "/members/{{ member.id }}/delete" method = "POST">
        <button class="trash-button">
            <i class="fa fa-trash-o fa-2x" style="color:#949494" aria-hidden="true"></i>
        </button>
        </form>









</section>

{% endfor %}
{% endblock %}