{% extends "base.html" %}
{% block content %}

<h2>Members</h2>
<li><a href="/members/new">Add</a></li>

{% for member in members %}

<section  class="course-grid">

<div class="Rtable Rtable--4cols">

    <div class="Rtable-cell"> 
        <a href="/members/{{ member.id }}">{{ member.first_name }} {{ member.last_name }}</a>
    </div>
    <div class="Rtable-cell"> 
        {{ member.phone_number }} {{ member.email }} 
    </div>
    <div class="Rtable-cell">
        <a href="/members/{{ member.id }}/edit">Edit</a>
    </div>
    <div class="Rtable-cell"> 
        <form action="/members/{{ member.id }}/delete" method="POST">
        <input type="submit" value="Delete">
        </form>
    </div>

</section>

{% endfor %}
{% endblock %}