

{% extends "base.html" %}
{% block content %}

<h2>Courses</h2>
<li><a href="/courses/new">Add</a></li>

{% for course in courses %}
<section class="course-grid">

<div class="Rtable Rtable--4cols">

  <div class="Rtable-cell"><a href="/courses/{{ course.id }}">{{ course.name }} </a></div>
  <div class="Rtable-cell">  {{ course.date }}</div>
  <div class="Rtable-cell">    <a href="/courses/{{ course.id }}/edit">Edit</a></div>
  <div class="Rtable-cell"><strong>    <form action="/courses/{{ course.id }}/delete" method="POST">
    <input type="submit" value="Delete">
</form>
</strong></div>


</section>


{% endfor %}
{% endblock %}
