{% extends "base.html" %}
{% block content %}

<h2>Add a New Course</h2>

<form action="/courses" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">

        <label for="date">Date:</label>
        <input type="text" id="date" name="date">

        <label for="times">Times:</label>
        <input type="text" id="times" name="times">

        <label for="duration">Duration:</label>
        <input type="text" id="duration" name="duration">

        <label for="age_range">Age Range:</label>
        <input type="text" id="age_range" name="age_range">

        <label for="capacity">Capacity:</label>
        <input type="text" id="capacity" name="capacity">

        <label for="location">Location:</label>
        <input type="text" id="location" name="location">
        
        <label for="description">Description:</label>

        <textarea name="description" cols="40" rows="5" id="description"></textarea>

        <input type="submit">
    </div>
</form>

{% endblock %}
