{% extends "base.html" %}
{% block content %}

<h2>{{ course.name }}</h2>
    <span>
        <h3>{{course.date}}</h3>
        <h3>{{course.duratation}}
            
    </span>  
        {{course.age_range}}</h3>
        {{number_booked}} / {{course.capacity}}
        <p>{{course.description}}
        </p>
    
    </span>

<h3>Bookings</h3>

<ul>
    {% for member in booked_members %}

    <div class="Rtable Rtable--4cols">

        <div class="Rtable-cell"> 

    {{ member.first_name }} {{member.last_name }}
    </div>

    <p>Children</p>
    <div class="Rtable-cell"> 
        {% for booking in course_bookings %} 
            {% if booking.member.id == member.id %}
            {{ booking.child_first_name }}  {{booking.child_last_name}}
            {% endif %}
        {% endfor %}
    </div>
</div>
    
    {% endfor %}
    
</ul>




{% endblock %}